* {
	margin: 0;
	padding: 0;
	box-sizing: border;
}
.clearfix::after {
	content:"";
	display:block;
	clear: both;
}
.booder::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	-moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
header {
	height: 70px;
	background: #ec715f;
}
.headline {
	width: 1024px;
	margin: 0 auto;
}
.headline-img {
	float: left;
	height: 70px;
}
.nav-list {
	float: right;
	height: 70px;
	text-align: center;
	color: #fafafa;
	font-size: 16px;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	height: 70px;
	vertical-align: middle;
	line-height: 70px;
}
.main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
}
.main-visual-contents {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.main-visual-logo {
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
}
.main-visual-text {
	font-size: 20px;
	color: #fafafa;
	padding-top: 10px;
}
.portfolio {
	width: 100%;
	height: 100%;
	background-color: #eceff1;
	padding: 90px 0;
}
.portfolio-box {
	width: 920px;
	text-align: center;
	margin: 0 auto;
}
.portfolio-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.portfolio-text {
	margin: 30px 0;
	font-size: 16px
	color: #000000;
}
.portfolio-img {
	margin:0 auto;
	width:920px;
}
.portfolio-img-item1, .portfolio-img-item2, .portfolio-img-item3, .portfolio-img-item4, .portfolio-img-item5, .portfolio-img-item6{
	float: left;
	width: 300px;
	height: 250px;
}
.portfolio-img-item1,.portfolio-img-item2,.portfolio-img-item4,.portfolio-img-item5 {
	margin-right: 10px;
}
.portfolio-img-item1,.portfolio-img-item2,.portfolio-img-item3 {
	margin-bottom: 10px;
}
.feature-contents {
	width: 980px;
	padding: 90px 0;
	text-align: center;
	margin: 0 auto;
}
.feature-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.feature-logo-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.feature-img {
	margin: 0 auto;
	width: 980px;
}
.feature-img-item1,.feature-img-item2,.feature-img-item3 {
	display: inline-block;
	float: left;
	width: 320px;
	height: auto;
}
.feature-img-item2{
	margin: 0 10px;
}
.feature-img-item i{
	font-size: 60px;
}
.fas-logo {
	font-size: 20px;
	color: #000000;
	margin: 10px 0;
}
.fas-text {
	font-size: 16px;
	color: #000000;
}
.profile {
	background-color: #eceff1;
}
.profile-contents {
	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}
.profile-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.profile-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.profile-img-box {
	width: 512px;
	float: left;
	display: inline-block;
}
.profile-img-item {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.profile-img-contents {
	display: inline-block;
	float: left;
	width: 512px;
}
.profile-img-logo {
	font-size: 20px;
	margin-bottom: 5px;
}
.profile-img-text1,.profile-img-text2 {
	font-size: 16px;
	color: #000000;
}
.profile-img-text1 {
	margin-bottom: 20px;
}





