* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display:block;
	clear: both;
}
.border::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	-moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
header {
	height: 70px;
	background: #ec715f;
}
.headline {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
}
.headline-img {
	float: left;
	height: 100%;
}
.nav-list {
	float: right;
	height: 70px;
	text-align: center;
	color: #fafafa;
	font-size: 16px;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	height: 70px;
	vertical-align: middle;
	line-height: 70px;
}
.main-visual{
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
}
.main-visual-contents {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.main-visual-logo {
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
}
.main-visual-text {
	font-size: 20px;
	color: #fafafa;
	padding-top: 10px;
}
.portfolio {
	width: 100%;
	height: 100%;
	background-color: #eceff1;
	padding: 90px 0;
}
.portfolio-box {
	width: 920px;
	text-align: center;
	margin: 0 auto;
}
.portfolio-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.portfolio-text {
	margin: 30px 0;
	font-size: 16px
	color: #000000;
}
.portfolio-img {
	margin:0 auto;
	width:920px;
}
.portfolio-img-item:nth-child(1){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/sketch.jpg);
	background-size: 100% 100%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.portfolio-img-item:nth-child(2){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/websuku.png);
	background-size: 100% 100%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.portfolio-img-item:nth-child(3){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/write.jpg);
	background-size: 100% 100%;
	margin-bottom: 10px;
}
.portfolio-img-item:nth-child(4){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/webcamp.png);
	background-size: 100% 100%;
	margin-right: 10px;
}
.portfolio-img-item:nth-child(5){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/talk.jpg);
	background-size: 100% 100%;
	margin-right: 10px;
}
.portfolio-img-item:nth-child(6){
	width: 300px;
	height: 250px;
	float: left;
	background-image: url( img/webcamp-mother.png);
	background-size: 100% 100%;
}
.feature-contents {
	width: 980px;
	padding: 90px 0;
	text-align: center;
	margin: 0 auto;
}
.feature-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.feature-logo-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.feature-img {
	margin: 0 auto;
	width: 980px;
}
.feature-img-item1,.feature-img-item2,.feature-img-item3 {
	display: inline-block;
	float: left;
	width: 320px;
	height: auto;
}
.feature-img-item2{
	margin: 0 10px;
}
.fa-code, .fa-desktop, .fa-cogs{
	font-size: 60px;
}
.fas-logo {
	font-size: 20px;
	color: #000000;
	margin: 10px 0;
}
.fas-text {
	font-size: 16px;
	color: #000000;
}
.profile {
	background-color: #eceff1;
}
.profile-contents {
	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}
.profile-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.profile-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.profile-img-box {
	width: 512px;
	float: left;
	display: inline-block;
}
.profile-img-item {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.profile-img-contents {
	display: inline-block;
	float: left;
	width: 512px;
}
.profile-img-logo {
	font-size: 20px;
	margin-bottom: 5px;
}
.profile-img-text1,.profile-img-text2 {
	font-size: 16px;
	color: #000000;
}
.profile-img-text1 {
	margin-bottom: 20px;
}
footer {
	height: 60px;
	background-color: #ec715f;
	text-align: center;
}
.footer-text {
	font-size: 16px;
	color: #fafafa;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
}
.contact-contents {
	width: 800px;
	margin: 0 auto;
	padding: 90px 0;
}
.contact-contents-headline {
	text-align: center;
}
.contact-logo {
	font-size: 32px;
	color: #000000;
	position:relative;
	display: inline-block;
	padding-bottom: 8px;
}
.contact-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.contact-date-box {
	margin : 0 auto;
}
.contact-date {
	float: left;
	width: 50%;
}
.contact-icon {
	float: left;
	width: 50%;
}
.box-logo {
	font-size: 20px;
	margin-bottom: 5px;
}

.contact-date-box {
	margin:auto;
}
.fa-facebook, .fa-twitter, .fa-instagram {
	font-size: 50px;
	margin-right: 20px;
}


.contact-date-box {
	width:150px;
	margin:0 auto;
}

.icon-box{
	width:250px;
	margin:0 auto;
}


















@media screen and (max-width:767px) {
	header {
		width: 90%;
		margin: 0 auto;
		height: 50px;
		position: relative;
	}
	.headline {
		width: 100%;
	}
	.main-visual {
		width: 90%;
		margin: 0 auto;
		background-image: url(img/code.png);
		background-size: cover;
	}
	main {
		width: 90%;
		margin: 0 auto;
	}
	.portfolio {
		width: 100%;
	}
	.portfolio-box {
		width: 100%;
	}
	.portfolio-img {
		width: 100%;
		margin: 0 auto;
	}
	.portfolio-img-item:nth-child(odd) {
		display: none;
	}
	.portfolio-img-item:nth-child(even) {
		float: none;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.feature-contents {
		width: 100%;
	}
	.feature-img {
		width: 100%;
	}
	.feature-img-item1, .feature-img-item2, .feature-img-item3 {
		margin: 0 auto;
	}
	.profile-contents{
		width: 100%;
	}
	.profile-img-box {
		width: 100%;
	}
	.profile-img-contents {
		width: 100%;
	}
	.contact-contents {
		width: 100%;
	}
	.contact-box {
		text-align: center;
		float: none;
	}
	.contact-date {
		width: 100%;
	}
	.contact-icon {
		width: 100%;
		margin: 0 auto;
	}
	footer {
		width: 90%;
		margin: 0 auto;
	}
	.nav-list {
		display:none;
	}
	.border-box {
		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;
		margin: 3px 8px;
	}
	.nav-border {
		border: 5px solid white;
		width: 100%;
		height: 100%;
		position: relative;
		display: inline-block;
	}
	.nav-border1 {
		top: 10px;
		content:"";
		display:block;
		border-top: 2px solid white;
	}
	.nav-border2 {
		top: 15px;
		content:"";
		display:block;
		border-: 2px solid white;
	}
	.nav-border3 {
		bottom:10px;
		content:"";
		display:block;
		border-top: 2px solid white;
	}
	.border-line {
		  position: absolute;

		  left: 5px;
		  height: 2px;
		  width: 24px;
		  background-color: white;


		  height: 2px;
		  width: 24px;
		  background-color: white;


		  display: inline-block;
		  box-sizing: border-box;

}
	.border-line:nth-of-type(1) {
  		top: 10px;
	}
	.border-line:nth-of-type(2) {
  		top: 15px;
	}
	.border-line:nth-of-type(3) {
  		bottom: 10px;
	}
}


